In [1]:
import pandas as pd
import numpy as np

In [ ]:
# 日期、時間、日期型態
from datetime import datetime
now=datetime.now()
print(now)
print(now.year,now.month,now.day)

In [12]:
# timedelta,兩個時間物件的時間差
diff=datetime(2011,1,1)-datetime(2009,5,6,8,15)
print(diff)
print(diff.days)
print(diff.seconds)

604 days, 15:45:00
604
56700

In [26]:
# datetime物件可以加減多個timedelta
from datetime import timedelta
start=datetime(2020,1,1)
start+2*timedelta(days=20)

datetime.datetime(2020, 2, 10, 0, 0)

In [35]:
# 時間日期轉換為字串
stamp=datetime(2020,2,22)
print(str(stamp))
print(stamp.strftime('%Y-%m-%d'))

2020-02-22 00:00:00
2020-02-22

In [41]:
# 字串轉換為時間日期
value='2011-05-30'
print(datetime.strptime(value,'%Y-%m-%d'))

date_str=['2000/12/12','2006/7/8']
for i in date_str:
    print(datetime.strptime(i,'%Y/%m/%d'))

2011-05-30 00:00:00
2000-12-12 00:00:00
2006-07-08 00:00:00

In [50]:
# pandas有parse模組支援
from dateutil.parser import parse
print(parse('2011-10-05'))
print(parse('JAN 31 2000 06:39 AM'))
print(parse('6/12/2001',dayfirst=True))

2011-10-05 00:00:00
2000-01-31 06:39:00
2001-12-06 00:00:00

In [53]:
datestrs=['2008-01-06 00:00:00','2099-01-31 06:39:00']
print(pd.to_datetime(datestrs))

DatetimeIndex(['2008-01-06 00:00:00', '2099-01-31 06:39:00'], dtype='datetime64[ns]', freq=None)

In [56]:
# 可處理遺失值
idx=pd.to_datetime(datestrs+[None])
print(idx)
print(pd.isnull(idx))

DatetimeIndex(['2008-01-06 00:00:00', '2099-01-31 06:39:00', 'NaT'], dtype='datetime64[ns]', freq=None)
[False False  True]

In [59]:
# 時間序列基本概念
dates=[datetime(2011,1,2),datetime(2000,5,6),
       datetime(2025,6,9),datetime(1995,11,26),datetime(2016,9,7),datetime(1998,7,9)]
ts=pd.Series(np.random.randn(6),index=dates)
print(ts)
print(ts.index)

2011-01-02    1.362161
2000-05-06    0.485790
2025-06-09   -2.315184
1995-11-26    1.085771
2016-09-07    1.307814
1998-07-09    1.154533
dtype: float64
DatetimeIndex(['2011-01-02', '2000-05-06', '2025-06-09', '1995-11-26',
               '2016-09-07', '1998-07-09'],
              dtype='datetime64[ns]', freq=None)

In [71]:
# 用日期做索引
print(ts['1995-11-26'])
print(ts[ts.index[2]])
long_date=pd.Series(np.random.randn(1000),index=pd.date_range('2020/1/1',periods=1000))
print(long_date['2021/5'].head()) # 指定年/月
print(long_date[datetime(2022,7,7)]) # datetime物件做切片

1995-11-26    1.085771
dtype: float64
-2.3151839872155504
2021-05-01    0.014486
2021-05-02    0.797160
2021-05-03   -0.076489
2021-05-04    2.398721
2021-05-05    0.725495
Freq: D, dtype: float64
-0.02481097230217223

In [80]:
print(long_date['2020/1/1':'2020/1/10']) # 指定某段期間
print(long_date.truncate(after='2020/1/15'))

2020-01-01    1.427149
2020-01-02    0.094997
2020-01-03   -0.319679
2020-01-04    0.318408
2020-01-05    1.280007
2020-01-06   -1.034277
2020-01-07   -1.119968
2020-01-08    0.793222
2020-01-09    1.118767
2020-01-10   -1.357256
Freq: D, dtype: float64
2020-01-01    1.427149
2020-01-02    0.094997
2020-01-03   -0.319679
2020-01-04    0.318408
2020-01-05    1.280007
2020-01-06   -1.034277
2020-01-07   -1.119968
2020-01-08    0.793222
2020-01-09    1.118767
2020-01-10   -1.357256
2020-01-11    0.222552
2020-01-12   -1.486445
2020-01-13    0.452849
2020-01-14   -1.599587
2020-01-15   -0.344412
Freq: D, dtype: float64

In [84]:
# 建立時間類型的dataframe
dates=pd.date_range('2020/1/1',periods=100)
date_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['texas','ohio','new york','las vagas'])
date_df.loc['2020/2'].head()

               texas      ohio  new york  las vagas
2020-02-01  1.589163  0.641411  0.688988  -0.281520
2020-02-02 -1.042625 -0.485663 -1.722982   0.169092
2020-02-03 -1.940773  1.220615 -0.185927   1.121927
2020-02-04  0.168946  0.789616  0.709734  -2.030114
2020-02-05 -0.475302 -0.513982 -1.033410  -0.357759

In [95]:
# 含有重複索引的時間序列
dates=pd.DatetimeIndex(['2020-02-01','2020-02-01','2020-02-03','2020-02-03','2020-02-03'])
dup=pd.Series(np.random.randn(5),index=dates)
print(dup)
print(dup.index.is_unique)
print(dup['2020/02/01']) # index重複

2020-02-01   -0.523417
2020-02-01   -0.765649
2020-02-03    2.080269
2020-02-03    0.087681
2020-02-03   -1.510797
dtype: float64
False
2020-02-01   -0.523417
2020-02-01   -0.765649
dtype: float64

In [100]:
# 日期區間、頻率、位移
print(pd.date_range('2020/1/1','2020/6/1',freq='BM')) # 每個月底
print(pd.date_range('2020/1/1',periods=10,freq='1h30min')) # 用文字敘述
print(pd.date_range('2020/5/6 12:35:22',periods=5,normalize=True)) # 以午夜時間為基準

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29'],
              dtype='datetime64[ns]', freq='BM')
DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:30:00',
               '2020-01-01 03:00:00', '2020-01-01 04:30:00',
               '2020-01-01 06:00:00', '2020-01-01 07:30:00',
               '2020-01-01 09:00:00', '2020-01-01 10:30:00',
               '2020-01-01 12:00:00', '2020-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')
DatetimeIndex(['2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10'],
              dtype='datetime64[ns]', freq='D')

In [114]:
# 每月的第幾周的星期幾
every_week=pd.date_range('2012','2013',freq='WOM-1FRI')
list(every_week)

[Timestamp('2012-01-06 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-02-03 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-03-02 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-04-06 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-05-04 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-06-01 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-07-06 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-08-03 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-09-07 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-10-05 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-11-02 00:00:00', freq='WOM-1FRI'),
 Timestamp('2012-12-07 00:00:00', freq='WOM-1FRI')]

In [125]:
# 移動開頭或結尾資料，但不會動到時間索引
ts=pd.Series(np.random.randn(5),index=pd.date_range('2011/1/1',periods=5,freq='M'))
print(ts)
print(ts.shift(2)) # 往下移兩個
print(ts.shift(-2)) # 往上移兩個

2011-01-31    1.913508
2011-02-28   -1.551110
2011-03-31    1.319297
2011-04-30    1.892692
2011-05-31   -0.669362
Freq: M, dtype: float64
2011-01-31         NaN
2011-02-28         NaN
2011-03-31    1.913508
2011-04-30   -1.551110
2011-05-31    1.319297
Freq: M, dtype: float64
2011-01-31    1.319297
2011-02-28    1.892692
2011-03-31   -0.669362
2011-04-30         NaN
2011-05-31         NaN
Freq: M, dtype: float64

In [128]:
# shift常用來計算時間序列的差值
ts/ts.shift(1)

2011-01-31         NaN
2011-02-28   -0.810610
2011-03-31   -0.850550
2011-04-30    1.434622
2011-05-31   -0.353656
Freq: M, dtype: float64

In [134]:
# 用位移量移動日期
from pandas.tseries.offsets import Day,MonthEnd

now=datetime(2021,2,18)
print(now+3*Day()) # 加三天
print(now+MonthEnd()) # 跳至月底
print(now+MonthEnd(2)) # 下個月底

2021-02-21 00:00:00
2021-02-28 00:00:00
2021-03-31 00:00:00

In [137]:
# rollback/foward
offset=MonthEnd()
print(offset.rollforward(now))
print(offset.rollback(now))

2021-02-28 00:00:00
2021-01-31 00:00:00

In [143]:
# 搭配groupby
ts=pd.Series(np.random.randn(20),index=pd.date_range('2020/3/1',periods=20,freq='4D'))
ts

2020-03-01   -0.479724
2020-03-05    0.646933
2020-03-09   -0.446159
2020-03-13   -0.622021
2020-03-17   -0.502852
2020-03-21    0.774754
2020-03-25   -0.261845
2020-03-29   -0.152735
2020-04-02   -1.435719
2020-04-06    0.190662
2020-04-10    0.316771
2020-04-14   -0.166804
2020-04-18   -0.663074
2020-04-22    0.299512
2020-04-26    0.541749
2020-04-30    0.102986
2020-05-04   -1.518468
2020-05-08   -0.425089
2020-05-12    0.119566
2020-05-16   -1.335555
Freq: 4D, dtype: float64

In [152]:
ts.groupby(offset.rollforward).mean()

2020-03-31   -0.130456
2020-04-30   -0.101740
2020-05-31   -0.789886
dtype: float64

In [159]:
# 時區
import pytz

print(pytz.common_timezones[-5:])
tz=pytz.timezone('America/New_York')
print(tz)

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']
America/New_York

In [163]:
# 時區本地化及轉換
rng=pd.date_range('2012/3/9',periods=9,freq='D',tz='UTC')
ts=pd.Series(np.random.randn(9),index=rng)
print(ts.index.tz)

UTC

In [170]:
# tz_localize()
rng=pd.date_range('2012/3/9 09:30:56',periods=9,freq='D')
ts=pd.Series(np.random.randn(9),index=rng)
ts_utc=ts.tz_localize('UTC')
print(ts_utc.index)
print(ts_utc.tz_convert('America/New_York'))

DatetimeIndex(['2012-03-09 09:30:56+00:00', '2012-03-10 09:30:56+00:00',
               '2012-03-11 09:30:56+00:00', '2012-03-12 09:30:56+00:00',
               '2012-03-13 09:30:56+00:00', '2012-03-14 09:30:56+00:00',
               '2012-03-15 09:30:56+00:00', '2012-03-16 09:30:56+00:00',
               '2012-03-17 09:30:56+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')
2012-03-09 04:30:56-05:00    0.010572
2012-03-10 04:30:56-05:00    0.467043
2012-03-11 05:30:56-04:00   -0.916760
2012-03-12 05:30:56-04:00   -0.925187
2012-03-13 05:30:56-04:00    0.560925
2012-03-14 05:30:56-04:00   -0.615832
2012-03-15 05:30:56-04:00    0.009786
2012-03-16 05:30:56-04:00   -0.120214
2012-03-17 05:30:56-04:00   -0.055324
Freq: D, dtype: float64

In [171]:
# 美東轉UTC
rng=pd.date_range('2012/3/9 09:30:56',periods=9,freq='D')
ts=pd.Series(np.random.randn(9),index=rng)
tz_eastern=ts.tz_localize('America/New_York')
print(tz_eastern.tz_convert('UTC'))

2012-03-09 14:30:56+00:00   -0.125891
2012-03-10 14:30:56+00:00    0.370398
2012-03-11 13:30:56+00:00    0.721977
2012-03-12 13:30:56+00:00   -1.482520
2012-03-13 13:30:56+00:00   -0.140014
2012-03-14 13:30:56+00:00    1.057360
2012-03-15 13:30:56+00:00   -0.277436
2012-03-16 13:30:56+00:00    0.348207
2012-03-17 13:30:56+00:00    0.064467
Freq: D, dtype: float64

In [174]:
# 含時區的timestamp物件一樣可以轉換 
stamp=pd.Timestamp('2011/3/12 04:00')
stamp_utc=stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [175]:
# timestamp中的value不會隨時區改變而變化(自1970.1.1算起，單位為奈秒)
stamp_utc.value

1299902400000000000

In [ ]:
# timestamp offset待補....

In [178]:
#　不同時區合併會自動轉為UTC
rng=pd.date_range('2012/7/3 09:30',periods=10,freq='B')
ts=pd.Series(np.random.randn(10),index=rng)
print(ts)

2012-07-03 09:30:00   -0.419235
2012-07-04 09:30:00   -0.589970
2012-07-05 09:30:00   -0.179071
2012-07-06 09:30:00    0.361792
2012-07-09 09:30:00    0.663046
2012-07-10 09:30:00   -1.270531
2012-07-11 09:30:00   -0.013836
2012-07-12 09:30:00   -1.569096
2012-07-13 09:30:00   -1.542314
2012-07-16 09:30:00   -1.063663
Freq: B, dtype: float64

In [189]:
ts1=ts[:7].tz_localize('Europe/London')
ts2=ts1[2:].tz_convert('Europe/Moscow')
print(ts1)
print(ts2)
(ts1+ts2).index #utc

2012-07-03 09:30:00+01:00   -0.419235
2012-07-04 09:30:00+01:00   -0.589970
2012-07-05 09:30:00+01:00   -0.179071
2012-07-06 09:30:00+01:00    0.361792
2012-07-09 09:30:00+01:00    0.663046
2012-07-10 09:30:00+01:00   -1.270531
2012-07-11 09:30:00+01:00   -0.013836
Freq: B, dtype: float64
2012-07-05 12:30:00+04:00   -0.179071
2012-07-06 12:30:00+04:00    0.361792
2012-07-09 12:30:00+04:00    0.663046
2012-07-10 12:30:00+04:00   -1.270531
2012-07-11 12:30:00+04:00   -0.013836
Freq: B, dtype: float64

DatetimeIndex(['2012-07-03 08:30:00+00:00', '2012-07-04 08:30:00+00:00',
               '2012-07-05 08:30:00+00:00', '2012-07-06 08:30:00+00:00',
               '2012-07-09 08:30:00+00:00', '2012-07-10 08:30:00+00:00',
               '2012-07-11 08:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [191]:
# 週期和週期運算
# 字串也可以建立periodindex
val=['2001Q1','2001Q2','2001Q3']
pd.PeriodIndex(val,freq='Q-DEC')

PeriodIndex(['2001Q1', '2001Q2', '2001Q3'], dtype='period[Q-DEC]', freq='Q-DEC')

In [195]:
# 時間區間頻率的轉換
p=pd.Period('2007',freq='A-DEC')
print(p)
print(p.asfreq('M',how='start'))
print(p.asfreq('M',how='end'))

2007
2007-01
2007-12

In [6]:
p=pd.Period('2006-AUG',freq='M')
print(p)
print(p.asfreq('A-JUN')) # 時間會根據間隔調整，ex.2006-8開始，若傳入1月則會調整為2007-1

2006-08
2007

In [13]:
rng=pd.period_range('2006','2009',freq='A-DEC')
ts=pd.Series(np.random.randn(4),index=rng)
print(ts)
print(ts.asfreq('M',how='start'))

2006    0.042974
2007    0.936804
2008    0.586441
2009   -1.159823
Freq: A-DEC, dtype: float64
2006-01    0.042974
2007-01    0.936804
2008-01    0.586441
2009-01   -1.159823
Freq: M, dtype: float64

In [ ]:
# 季度期間頻率 待補...

In [20]:
# 時間戳記轉換為期間物件
rng=pd.date_range('2006-01-01',periods=3,freq='M')
ts=pd.Series(np.random.randn(3),index=rng)
print(ts)
print(ts.to_period())

ts2=ts.to_period()
print(ts2.to_timestamp())

2006-01-31    1.085668
2006-02-28   -0.157171
2006-03-31   -0.874127
Freq: M, dtype: float64
2006-01    1.085668
2006-02   -0.157171
2006-03   -0.874127
Freq: M, dtype: float64
2006-01-01    1.085668
2006-02-01   -0.157171
2006-03-01   -0.874127
Freq: MS, dtype: float64

In [25]:
# 從陣列建立periodindex
data=pd.read_csv('examples/macrodata.csv')
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [22]:
index=pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC') # 把年和季度合併，並把它設為dataframe的index
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [29]:
data.index=index
data.cpi.head(5)

1959Q1    28.98
1959Q2    29.15
1959Q3    29.35
1959Q4    29.37
1960Q1    29.54
Freq: Q-DEC, Name: cpi, dtype: float64

In [38]:
# 重新取樣與頻率轉換
rng=pd.date_range('2006-01-01',periods=100,freq='D')
ts=pd.Series(np.random.randn(100),index=rng)
ts[:10]

2006-01-01    0.279462
2006-01-02    1.111115
2006-01-03    0.836300
2006-01-04    3.053539
2006-01-05   -0.088664
2006-01-06    0.564000
2006-01-07   -0.335039
2006-01-08    0.753882
2006-01-09   -0.604378
2006-01-10    0.278219
Freq: D, dtype: float64

In [49]:
# 降低採樣頻率
print(ts.resample('M').mean())
print(ts.resample('M',kind='period').mean())

2006-01-31    0.016674
Freq: M, dtype: float64
2006-01    0.016674
Freq: M, dtype: float64

In [50]:
rng=pd.date_range('2006-01-01',periods=12,freq='T')
ts=pd.Series(np.random.randn(12),index=rng)
ts

2006-01-01 00:00:00   -1.246443
2006-01-01 00:01:00    0.567744
2006-01-01 00:02:00   -0.945934
2006-01-01 00:03:00    0.100147
2006-01-01 00:04:00    0.462512
2006-01-01 00:05:00   -0.437717
2006-01-01 00:06:00    2.147927
2006-01-01 00:07:00   -0.409432
2006-01-01 00:08:00    0.156976
2006-01-01 00:09:00   -1.562337
2006-01-01 00:10:00    0.964842
2006-01-01 00:11:00   -0.293237
Freq: T, dtype: float64

In [51]:
ts.resample('5min',closed='right').sum()
# (closed='right') 9:00 | 9:01 | 9:02 | 9:03 | 9:04 | 9:05  
#                         起點                         終點
# (closed='left') 9:00 | 9:01 | 9:02 | 9:03 | 9:04 | 9:05  
#                 起點                         終點

2005-12-31 23:55:00   -1.246443
2006-01-01 00:00:00   -0.253249
2006-01-01 00:05:00    1.297976
2006-01-01 00:10:00   -0.293237
Freq: 5T, dtype: float64

In [53]:
ts.resample('5min',closed='right',label='right',loffset='-1s').sum() # 設定位移量

2005-12-31 23:59:59   -1.246443
2006-01-01 00:04:59   -0.253249
2006-01-01 00:09:59    1.297976
2006-01-01 00:14:59   -0.293237
Freq: 5T, dtype: float64